.movie-item-card {
    max-width: 50%;
    margin-bottom: 10px;
    display: flex;
    float: left;
    margin-left: 13%;
  }

.movie-item-conent{
    justify-content: space-between;
    margin-left: 30px;
}

.movie-item-image {
    width: 250px;
    height: 300px;
}


aside {
    width: 33%;
    float: right;
 }

 .filter-card{
    background-color: rgb(52,58,64);
    max-width: 70%;
    margin-top: 70px;
 }

 .filter-card-title{
     color: white;
 }
 /* блок для виджетов */
 .widget {
    padding: 20px 15px;
    background:  gray;
    color: rgb(247, 237, 208);
    font-size: 13px;
    margin-bottom: 30px;
 }

  .svg-filter{
     width: 23px;
     height: 23px;
     margin-right: 5px;
     margin-left: 5px;
     color: white;
 }