.movie-item-card {
  width: 90%;
  margin-bottom: 10px;
  display: flex;
  // float: left;
  // margin-left: 15%;
  border: 1px #ccc;
}

.movie-item-conent {
  justify-content: space-between;
  margin-left: 30px;
}

.movie-item-image {
  width: 210px !important;
  border-radius: 2px;
  height: 324px;
  cursor: pointer;
}

button {
  border-radius: 2px;
  box-shadow: none !important;
}

aside {
  width: auto;
  float: right;
  margin-right: 15%;
}

.movie-items {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-height: 400px;
}

.filter-card {
  position: sticky;
  background-color: rgb(52, 58, 64);
  max-width: 250px;
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  width: 250px;
  margin-left: auto;
}

.filter-card-title {
  color: white;
  padding-left: 10px;
  margin-bottom: 18px;
}

mat-card-title> ::before.filter-card-title :hover {
  color: unset !important;
  text-decoration: unset !important;
}

.svg-filter {
  width: 23px;
  height: 23px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

.filter-container {
  padding-top: 20px;
  padding-left: 15px;
  background-color: white;
}

.filter-field-label {
  display: flex;
  font-size: 18px;
  color: rgb(52, 58, 64);
  margin-left: 20px;
}

.filter-container .mat-form-field {
  margin-left: 20px;
  height: auto;
  width: 180px;
}

.filter-card-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  height: auto;
  width: 70%;
  margin-left: 15px;
}

.filter-card-input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  height: auto;
  width: 70%;
  margin-left: 15px;
}

.filter-apply-btn {
  width: 250px;
  background-color: rgb(52, 58, 64);
  color: white;
  height: 50px;
  font-size: 16px;
  margin-left: -16px;
}

mat-card-title {
  cursor: pointer;
  color: rgb(52, 58, 64);
}

mat-card-title:hover {
  color: black;
  text-decoration: underline;
}

.pagination {
  width: 100%;
  list-style-type: none;

  li {
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 6px;
    line-height: 24px;
    border-radius: 2px;
    text-align: center;

    &:hover {
      background-color: #e0dede;
    }

    &.chevron {
      border-radius: 2px;
    }

    &.active {
      background-color: #26a69a;
      color: white;
    }
  }
}

.chevron {
  position: relative;
  display: block;
  height: 50px;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: "";
    border: 8px solid transparent;
  }

  &:before {
    top: 0;
    border-top-color: #000;
  }

  &:after {
    top: -4px;
    border-top-color: #fff;
  }

  &.chevron-left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -18px;
    top: 11px;
  }

  &.chevron-right {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 27px;
    right: -18px;
  }
}

.home-content {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}

.page-option-select{
  display: inline;
  font-size: 18px;
  height: auto;
  width: 54px;
  text-align: center;
}

.clear-filter-btn{
  color: rgb(52, 58, 64);;
  font-weight: 500;
  margin-bottom: 18px;
  padding-left: 16px;
  margin-left: 50px;

  &:hover{
    cursor: pointer;
  }
}