<aside>
  <mat-card class="filter-card">
    <mat-card-title class="filter-card-title">
      <img src="assets/icons/icon-sort-settings.svg" class="svg-filter">
      Фильтр
    </mat-card-title>
    <form [formGroup]="filterForm" class="filter-container"> 
      <label class="filter-field-label">Год выхода</label>
      <div class="input-field">
        <input formControlName="yearFrom" class="filter-card-input" placeholder="Начало">
        <input formControlName="yearTo" class="filter-card-input" placeholder="Конец">
      </div>
      <label class="filter-field-label">Название фильма</label>
      <div class="input-field">
        <input formControlName="name" class="filter-card-input" placeholder="Название...">
      </div>
      <label class="filter-field-label">Страна</label>
      <mat-form-field floatLabel="never">
        <mat-select formControlName="countryId" placeholder="Выберите страну">
          <mat-option></mat-option>
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label class="filter-field-label">Жанры</mat-label>
      <mat-form-field floatLabel="never">
        <mat-select formControlName="genres" [formControl]="genres" multiple placeholder="Выберите жанры">
          <mat-option *ngFor="let genre of genresList" [value]="genre.id">{{genre.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="applyFilters()" mat-raised-button class="filter-apply-btn">Применить</button>
    </form>
  </mat-card>
</aside>


<div style="margin-top: 70px;" *ngFor="let movie of movies">
  <mat-card class="movie-item-card">
    <img mat-card-xl-image class="movie-item-image" src="{{movie.imageUrl}}" alt="{{movie.name}}" [routerLink]="['movie', movie.id]">
    <mat-card-content class="movie-item-conent">
      <mat-card-title>{{movie.name}}</mat-card-title>
      <mat-card-subtitle style="margin-bottom: 20px;">{{movie.country}}, {{movie.year}}</mat-card-subtitle>
        <mat-card-subtitle>
          <p style="display: inline;" *ngFor="let genre of movie.genres">
            {{genre.name}}<a style="color: gray;" *ngIf="genre!=movie.genres[movie.genres.length - 1]">,</a>
          </p> 
        </mat-card-subtitle>
      <p>{{movie.description}}</p>
    </mat-card-content>
  </mat-card>
</div>

<app-scroll-top></app-scroll-top>
