.table{
    margin-top: 50px;
    max-width: 70%;
    margin-left: 15%;
}

.demo-button-container {
    margin-top: 8px;
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

  .table-title{
      font-size: 24px;
  }

  .table-action-edit:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  .app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
  }