<nav class="sticky">
    <div class="nav-wrapper darken-1">
        <a routerLink="/" class="brand-logo">kfu cinema simulator</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngIf="!isLoggedIn" routerLinkActive="active">
                <a [routerLink]="['/login']">Вход</a>
            </li>
            <li routerLinkActive="active" *ngIf="!isLoggedIn">
                <a [routerLink]="['/register']">Регистрация</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a [routerLink]="['']" (click)='logout()'>Выйти</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>



