<div style="align-items: center;">
  <mat-card class="movie-detail">
    <!-- <mat-card-title> -->
      <div class="card-top">
        <div *ngIf="this.movie">
          <img src="{{movie.imageUrl}}" class="movie-detail-image">
        </div>

        <div class="card-top-right">
          <div *ngIf="this.movie">
          <div class="card-rating">
            <div class="big-star">★</div>  
            <p style="margin-top: auto; margin-bottom: auto; margin-left: 20px;">
                <span style="font-weight: 400; width: 10px; font-size: 28px !important;">{{this.movie.rating}}</span>
              <span style="margin-left: 0 !important;">/10</span>
              <span>(всего оценок {{this.movie.estimationAmount}})</span>
            </p>
            <div class="rating-area">
              <span style="font-weight: 400; padding: 10px; position: relative; top:5px">Оцените фильм: </span>
              <input type="radio" id="star-10" name="rating" value="10" (click)="updateMovieRating(10)">
              <label for="star-10" title="Оценка «10»"></label>	
              <input type="radio" id="star-9" name="rating" value="9" (click)="updateMovieRating(9)">
              <label for="star-9" title="Оценка «9»"></label>	
              <input type="radio" id="star-8" name="rating" value="8" (click)="updateMovieRating(8)">
              <label for="star-8" title="Оценка «8»"></label>	
              <input type="radio" id="star-7" name="rating" value="7" (click)="updateMovieRating(7)">
              <label for="star-7" title="Оценка «7»"></label>	
              <input type="radio" id="star-6" name="rating" value="6" (click)="updateMovieRating(6)">
              <label for="star-6" title="Оценка «6»"></label>	
              <input type="radio" id="star-5" name="rating" value="5" (click)="updateMovieRating(5)">
              <label for="star-5" title="Оценка «5»"></label>	
              <input type="radio" id="star-4" name="rating" value="4" (click)="updateMovieRating(4)">
              <label for="star-4" title="Оценка «4»"></label>    
              <input type="radio" id="star-3" name="rating" value="3" (click)="updateMovieRating(3)">
              <label for="star-3" title="Оценка «3»"></label>  
              <input type="radio" id="star-2" name="rating" value="2" (click)="updateMovieRating(2)">
              <label for="star-2" title="Оценка «2»"></label>    
              <input type="radio" id="star-1" name="rating" value="1" (click)="updateMovieRating(1)">
              <label for="star-1" title="Оценка «1»"></label>
            </div>
            <div *ngIf="isAuthenticated() && this.myEstimate" class="my-rating">
              <span style="font-size: 25px !important; font-weight: 500;">{{this.myEstimate}}</span>
              <span>Моя оценка</span>
            </div>

          </div>
        </div>

          <div *ngIf="this.movie">
          <h1>{{this.movie.name}}</h1>
          <br>
          <ul>
            <li>
              <span>Год:</span>
              <span>{{this.movie.year}}</span>
            </li>
            <li>
              <span>Страна:</span>
              <span>{{this.movie.country}}</span>
            </li>
            <li>
              <span>Жанры:</span>
              <span>
                <p style="display: inline;" *ngFor="let genre of movie.genres">
                  {{genre.name}}<a style="color: black;" *ngIf="genre!=movie.genres[movie.genres.length - 1]">,</a>
                </p> 
              </span>
            </li>
            <li>
              <span>Режиссер:</span>
              <span>{{this.movie.director.name}} {{this.movie.director.lastName}}</span>
            </li>
            <li>
              <span>Актеры:</span>
              <span>
                <p style="display: inline;" *ngFor="let actor of movieActors">
                  {{actor.name}} {{actor.lastName}}<a style="color: black;" *ngIf="actor!=movieActors[movieActors.length - 1]">,</a>
                </p> 
              </span>
            </li>
            <li>
              <span>Описание:</span>
              <span>{{this.movie.description}}</span>
            </li>
          </ul>
        </div>
        </div>
      </div>
    
      
   <mat-card-content>
    <div *ngIf="this.movie">

    <div class="movie-player">
      <vm-player>
        <vm-video>
          <source data-src="{{this.movie.movieUrl}}.mp4" type="video/mp4" />
        </vm-video>
        <vm-default-ui>
        </vm-default-ui>
      </vm-player>
  </div>
  </div>

   </mat-card-content>   
  </mat-card>
</div>

<app-scroll-top></app-scroll-top>

<!-- <div style="max-width: 40%; height: auto;">
    <vm-player>
        <vm-youtube cookies="true" video-id="ye-ypP8f5ik">
        </vm-youtube>
    </vm-player>
</div> -->