<div class="auth-block">
    <form [formGroup]="form" (ngSubmit)="signUp()" class="card">
        <div class="card-content">
            <span class="card-title">Регистрация</span>
            <div class="input-field">
                <input
                formControlName="username"
                 id="username" 
                 type="email" 
                 >
                <label for="username">Логин:</label>
                <span *ngIf="form.get('username').invalid && form.get('username').touched" class="helper-text red-text">
                    <span *ngIf="form.get('username').errors['required']">Логин не должен быть пустым</span>
                </span>
            </div>
            <div class="input-field">
                <input 
                formControlName="password"
                id="password" 
                type="password" 
                >
                <label for="password">Пароль:</label>
                <span class="helper-text red-text" *ngIf="form.get('password').invalid && form.get('password').touched">
                    <span *ngIf="form.get('password').errors['required']">Пароль не должен быть пустым</span>
                    <span
                      *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
                      Пароль должен быть больше {{form.get('password').errors['minlength']['requiredLength']}} символов.
                      Сейчас {{form.get('password').errors['minlength']['actualLength']}}
                    </span>
                  </span>
            </div>
            <div class="input-field">
                <input
                formControlName="email"
                 id="email" 
                 type="email" 
                 >
                <label for="email">Email:</label>
                <span *ngIf="form.get('email').invalid && form.get('email').touched" class="helper-text red-text">
                    <span *ngIf="form.get('email').errors['required']">Email не должен быть пустым</span>
                    <span *ngIf="form.get('email').errors['email']">Некоректный email</span>
                </span>
            </div>
        </div>
        <div class="card-action">
            <button 
            type="submit"
            class="modal-action btn waves-effect"
            [disabled]="form.invalid">
            Зарегистрироваться
            </button>
        </div>
    </form>
</div>
