@import "~materialize-css/dist/css/materialize.min.css";
@import "theme/styles.min.css";

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-wrapper {
    background-color: rgb(52,58,64);
}

body {
    background-color: rgb(233,235,238)
}